@using WebApp.Models.Products
@using WebApp.Services

<div class="menu-header">
    <img src="images/logo.png" alt="WebApp Logo" class="menu-logo" />
</div>

<div class="menu-grid">
    <NavLink class="menu-link" href="" Match="NavLinkMatch.All">
        <div class="menu-item">
            Home
        </div>
    </NavLink>
    @foreach (var category in categories ?? Enumerable.Empty<Category>())
    {
        <NavLink class="menu-link" href="@GetLink(category.Name)" Match="NavLinkMatch.Prefix">
            <div class="menu-item">
                @category.Name
                <span class="badge">@category.Articles.Count</span>
            </div>
        </NavLink>
    }
</div>

@code {
    [Inject] BackendApiService BackendApiService { get; set; }

    private IReadOnlyCollection<Category>? categories;

    private string GetLink(string name) => $"product/{Uri.EscapeDataString(name)}";

    protected override async Task OnInitializedAsync()
    {
        categories = await BackendApiService.LoadCategoriesAsync();
    }
}